.frame2{
  min-height: 100vh;
  width: 100%;
  background: #1C0B00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
}
.title2{
  margin-top: 5vh;
}
.pageContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.storyBox1{
  color: black;
  transition: all linear 0.5s;
  background-color: white;
  border: 3px solid #f4743b;
  height: 80vh;
  width: 85vw;
  position: absolute;
  top: 15vh;
  left: 5vw;
}
.ng-hide {
  height: 0;
  top:-200px;
  left: 200px;
}
.slideshow-container {
  max-width: 85vw;
  height: 75vh;
  position: relative;
  margin: auto;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideFooter{
  position: relative;
  top: -3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.close{
  height: 25px;
  width: 25px;
}
.HALUpic1{
  max-height: 70vh;
  max-width: 80vw;
}
.HALUthumbnail{
  height: 30vh;
  width: 20vw;
  margin: 5vw;
}
.HALUtext{
  margin: 5vw;
}
