.jaberFrame {
  background: #1c124b;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jabberTitle {
  color: #3dcdec;
  margin-top: 5vh;
}
.jabberAuthor {
  color: #3dcdec;
}
.cardImage{
  max-width: 315px;
	max-height: 275px;
}
.cardText{
  margin: 2vw;
  color: #1c124b;
}
.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh;
}
.flip-container {
	perspective: 1000px;
	margin: 10px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 320px;
	height: 280px;
	border-radius: 12px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
	transform: rotateY(0deg);
}
.back {
  background: white;
  border: 2px solid #3dcdec;
	transform: rotateY(180deg);
}
