<section class="frame1">
  <h1 class="title1">Fox and Crow</h1>
  <h3 class="author1">By: Aesop</h3>
  <img class="homeButton" ui-sref="home" src="images/house-32.png" alt="" />
  <div class="fc1">

    <img class="crow1" src="images/crow-flying.png" alt="crow" />
    <img class="fox1" src="images/Fox-3.png" alt="fox" />
    <img class="tree1" src="images/tree_PNG212.png" alt="" />
    <img class="grass1" src="images/grass.png" alt="" />
    <img class="bush1" src="images/leafybush_PNG7202.png" alt="" />
    <!-- <img class="scbush1" src="images/scraglybush_PNG7217.png" alt="" /> -->
  </div>
  <div class="fcStory">
    <p> A Fox once saw a Crow fly off with a piece of cheese in its beak and settle on a branch of a tree.
         "That's for me, as I am a Fox," said Master Reynard, and he walked up to the foot of the tree.
    </p>
    </br>
    <p>
         "Good day, Mistress Crow," he cried. "How well you are looking today: how glossy your feathers; how bright your eye. I feel sure your voice must surpass that of other birds, just as your figure does; let me hear but one song from you that I may greet you as the Queen of Birds."
    </p>
    </br>
    <p>
         The Crow lifted up her head and began to caw her best, but the moment she opened her mouth the piece of cheese fell to the ground, only to be snapped up by Master Fox.
         "That will do," said he. "That was all I wanted. In exchange for your cheese I will give you a piece of advice for the future: "Do not trust flatterers."
    </p>
  </div>
</section>
