<section class="frame2">
  <h1 class="title2">High and Lifted Up</h1>
  <h3 class="author2">By: Mike Krath</h3>
  <img class="homeButton" ui-sref="home" src="images/house-32.png" alt="" />
  <div class="pageContainer">
      <img class="HALUthumbnail" src="images/boy.jpg" alt=""  ng-click="$watch(revealer1(), pageAssignment('mySlides'))"/>
      <img class="HALUthumbnail" src="images/Nature___Seasons___Autumn_the_autumn_leaves_in_the_wind_HD_046235_.jpg" alt="" ng-click="$watch(revealer2(), pageAssignment('mySlides2'))" />
      <img class="HALUthumbnail" src="images/red-maple-leaf.jpg" alt="" ng-click="$watch(revealer3(), pageAssignment('mySlides3'))"/>
      <img class="HALUthumbnail" src="images/flying-leaves_21097189.jpg" alt="" ng-click="$watch(revealer4(), pageAssignment('mySlides4'))"/>
      <img class="HALUthumbnail" src="images/citydump.jpg" alt="" ng-click="$watch(revealer5(), pageAssignment('mySlides5'))"/>
      <img class="HALUthumbnail" src="images/colorful-autumn-leaves.jpg" alt="" ng-click="$watch(revealer6(), pageAssignment('mySlides6'))" />
  </div>
  <!-- page1 -->
  <div class="storyBox1" ng-show="hide1">
    <div class="slideshow-container">
      <div class="mySlides">
        <img class="HALUpic1" src="images/boy.jpg" />
      </div>
      <div class="mySlides">
        <p class="HALUtext">
          It was a windy day.
          The mailman barely made it to the front door. When the door opened, Mrs. Pennington said, "hello", but, before she had a real chance to say "thank you", the mail blew out of the mailman's hands, into the house and the front door slammed in his face. Mrs. Pennington ran to pick up the mail.
          "Oh my," she said.
          Tommy was watching the shutters open and then shut, open and then shut.
          "Mom," he said, "may I go outside?"
          "Be careful," she said. "It's so windy today."
          Tommy crawled down from the window-seat and ran to the door. He opened it with a bang. The wind blew fiercely and snatched the newly recovered mail from Mrs. Pennington's hands and blew it even further into the house.
          "Oh my," she said again. Tommy ran outside and the door slammed shut.
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer1()"/>
    </div>
  </div>
<!-- page 2 -->
  <div class="storyBox1" ng-show="hide2" >
    <div class="slideshow-container">
      <div class="mySlides2">
        <img class="HALUpic1" src="images/Nature___Seasons___Autumn_the_autumn_leaves_in_the_wind_HD_046235_.jpg" />
      </div>
      <div class="mySlides2">
        <p class="HALUtext">
          Outside, yellow, gold, and red leaves were leaping from swaying trees, landing on the roof, jumping off the roof, and then chasing one another down the street in tiny whirlwinds of merriment.
          Tommy watched in fascination.
          "If I was a leaf, I would fly clear across the world," Tommy thought and then ran out into the yard among the swirl of colors.
          Mrs. Pennington came to the front porch.
          "Tommy, I have your jacket. Please put it on."
          However, there was no Tommy in the front yard.
          "Tommy?"
          Tommy was a leaf. He was blowing down the street with the rest of his play-mates.
          A maple leaf came close-by, touched him and moved ahead. Tommy met him shortly, brushed against him, and moved further ahead. They swirled around and around, hit cars and poles, flew up into the air and then down again.
          "This is fun," Tommy thought.
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer2()"/>
    </div>
  </div>
<!-- page3 -->
  <div class="storyBox1" ng-show="hide3" >
    <div class="slideshow-container">
      <div class="mySlides3">
        <img class="HALUpic1" src="images/red-maple-leaf.jpg" />
      </div>
      <div class="mySlides3">
        <p class="HALUtext">
          The maple leaf blew in front of him. It was bright red with well-defined veins. The sun-light shone through it giving it a brilliance never before seen by a little boy's eyes.
          "Where do you think we are going?" Tommy asked the leaf.
          "Does it matter?" the leaf replied. "Have fun. Life is short."
          "I beg to differ," an older leaf said suddenly coming beside them. "The journey may be short, but the end is the beginning."
          Tommy pondered this the best a leaf could ponder.
          "Where do we end up?"
          "If the wind blows you in that direction," the old leaf said, "you will end up in the city dump."
          "I don't want that," Tommy said.
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer3()"/>
    </div>
  </div>
  <!-- page4 -->
  <div class="storyBox1" ng-show="hide4" >
    <div class="slideshow-container">
      <div class="mySlides4">
        <img class="HALUpic1" src="images/flying-leaves_21097189.jpg" />
      </div>
      <div class="mySlides4">
        <p class="HALUtext">
          "If you are blown in that direction, you will fly high into the air and see things that no leaf has seen before."
          "Follow me to the city dump," the maple leaf said. "Most of my friends are there."
          The wind blew Tommy and the maple leaf along. Tommy thought of his choices. He wanted to continue to play.
          "Okay," Tommy said, "I will go with you to the dump."
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer4()"/>
    </div>
  </div>
  <!-- page5 -->
  <div class="storyBox1" ng-show="hide5" >
    <div class="slideshow-container">
      <div class="mySlides5">
        <img class="HALUpic1" src="images/citydump.jpg" />
      </div>
      <div class="mySlides5">
        <p class="HALUtext">
          The winds shifted and Tommy and the leaf were blown in the direction of the city dump.
          The old leaf didn't follow. He was blown further down the block and suddenly lifted up high into the air.
          "Hey," he called out, "the sights up here. They are spectacular. Come and see."
          Tommy and the maple leaf ignored him.
          "I see something. I see the dump." The old leaf cried out. "I see smoke. Come up here. I see fire."
          "I see nothing," the maple leaf said.
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer5()"/>
    </div>
  </div>
  <!-- page6 -->
  <div class="storyBox1" ng-show="hide6" >
    <div class="slideshow-container">
      <div class="mySlides6">
        <img class="HALUpic1" src="images/colorful-autumn-leaves.jpg" />
      </div>
      <div class="mySlides6">
        <p class="HALUtext">
          Tommy saw the fence that surrounded the city dump. He was happy to be with his friend. They would have fun in the dump.
          Suddenly, a car pulled up. It was Tommy's mom. Mrs. Pennington wasn't about to let her little boy run into the city dump.
          "Not so fast," she said getting out of the car. "You are not allowed to play in there. Don't you see the smoke?"
          Tommy watched the maple leaf blow against the wall and struggle to get over. He ran over to get it but was unable to reach it.
          Mrs. Pennington walked over and took the leaf. She put it in her pocket.
          "There," she said, "it will be safe until we get home."
          Tommy smiled, ran to the car and got in. He rolled down the back window and looked up into the sky. He wondered where the old leaf had gone. Perhaps one day he would see what the old leaf had seen - perhaps.
        </p>
      </div>
    </div>
    <div class="slideFooter">
      <a class="next" ng-click="plusSlides(1)">
        <img src="images/arrow-32.png" alt="" />
      </a>
      <img class="close" src="images/close-window-32.png" alt="" ng-click="revealer6()"/>
    </div>
  </div>
</section>
